<div class="container">
<ol>
  <li *ngFor="let test of tests; let i=index;" >
  <label>{{test.question}}</label>
  <div class="radio">
    <label><input type="radio" name="{{i+1}}" id="A" value={{test.choice1}} (change)="onSelect($event.target)"> A. {{test.choice1}}</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="{{i+1}}" id="B" value={{test.choice1}} (change)="onSelect($event.target)"> B. {{test.choice2}}</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="{{i+1}}" id="C" value={{test.choice1}} (change)="onSelect($event.target)"> C. {{test.choice3}}</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="{{i+1}}" id="D" value={{test.choice1}} (change)="onSelect($event.target)"> D. {{test.choice4}}</label>
  </div>
  <br>
  </li>
  <button class="btn btn-primary" (click)=onClick()>Submit Answer</button> |
  <a class="btn btn-primary" routerLink="/">Start Over</a>
</ol>
</div>
