<p>question works!</p>
<!--
<div>
  <ol>
    <li>
    <label>Question: {{test.question}}</label>
    <div class="radio">
      <label><input type="radio" name="{{questionNo}}" id="A" value={{test.choice1}} (change)="onSelect($event.target)"> A. {{test.choice1}}</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="{{questionNo}}" id="B" value={{test.choice1}} (change)="onSelect($event.target)"> B. {{test.choice2}}</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="{{questionNo}}" id="C" value={{test.choice1}} (change)="onSelect($event.target)"> C. {{test.choice3}}</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="{{questionNo}}" id="D" value={{test.choice1}} (change)="onSelect($event.target)"> D. {{test.choice4}}</label>
    </div>
    <br>
    </li>
    <button class="btn btn-primary" (click)=onClick()>Next Question</button>
  </ol>
  </div>

-->
